/* Primitives */
:root {
  /* Neutral Colours */
  --color-neutral-black: #000000;
  --color-neutral-grey-100: #1A1A1A;
  --color-neutral-grey-200: #333333;
  --color-neutral-grey-300: #666666;
  --color-neutral-grey-400: #999999;
  --color-neutral-grey-500: #CCCCCC;
  --color-neutral-grey-600: #E5E5E5;
  --color-neutral-grey-700: #EBEBEB;
  --color-neutral-grey-800: #F0F0F0;
  --color-neutral-grey-900: #F5F5F5;
  --color-neutral-grey-1000: #FAFAFA;
  --color-neutral-white: #FFFFFF;

  /* Brand Colours (Earth) */
  --color-brand-earth-100: #161513;
  --color-brand-earth-100-null: #16151300;
  --color-brand-earth-200: #362E26;
  --color-brand-earth-200-null: #362E2600;
  --color-brand-earth-300: #A6763F;
  --color-brand-earth-300-null: #A6763F00;
  --color-brand-earth-400: #C8A041;
  --color-brand-earth-400-null: #C8A04100;
  --color-brand-earth-500: #D5BE89;
  --color-brand-earth-500-null: #D5BE8900;
  --color-brand-earth-600: #E8D29D;
  --color-brand-earth-600-null: #E8D29D00;
  --color-brand-earth-700: #F1E3D0;
  --color-brand-earth-700-null: #F1E3D000;
  --color-brand-earth-800: #DAD2C8;
  --color-brand-earth-800-null: #DAD2C800;
  --color-brand-earth-900: #F4F1EC;
  --color-brand-earth-900-null: #F4F1EC00;
  --color-brand-earth-1000: #F7F5F3;
  --color-brand-earth-1000-null: #F7F5F300;

  /* Gaps */
  --gap-nil: 0px;
  --gap-3xs: 1px;
  --gap-2xs: 2px;
  --gap-1xs: 4px;
  --gap-sm: 6px;
  --gap-md: 8px;
  --gap-lg: 10px;
  --gap-1xl: 12px;
  --gap-2xl: 14px;
  --gap-3xl: 16px;
  --gap-4xl: 18px;
  --gap-5xl: 20px;
  --gap-big: 24px;
  --gap-1xbig: 32px;
  --gap-2xbig: 36px;
  --gap-3xbig: 40px;
  --gap-4xbig: 48px;
  --gap-huge: 64px;
  --gap-1xhuge: 80px;
  --gap-2xhuge: 120px;
  --gap-3xhuge: 160px;
  --gap-4xhuge: 240px;
  --gap-giant: 320px;

  /* Radii */
  --radius-nil: 0px;
  --radius-xs: 4px;
  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-1xl: 14px;
  --radius-2xl: 16px;
  --radius-3xl: 20px;
  --radius-4xl: 24px;
  --radius-big: 32px;
  --radius-1xbig: 36px;
  --radius-2xbig: 40px;
  --radius-3xbig: 48px;
  --radius-4xbig: 64px;
  --radius-full: 1234px;

  /* Strokes */
  --stroke-nil: 0px;
  --stroke-xs: 1px;
  --stroke-sm: 2px;
  --stroke-md: 3px;
  --stroke-lg: 4px;
  --stroke-xl: 6px;
  --stroke-big: 8px;

  /* Semantic Tokens */
  --semantic-colour-border: var(--color-brand-earth-800);
  --semantic-colour-divider: var(--color-brand-earth-800);
  --semantic-colour-background-page: var(--color-brand-earth-1000);
  --semantic-colour-background-card-default: var(--color-neutral-white);
  --semantic-colour-background-card-hover: var(--color-brand-earth-200);
  --semantic-colour-text-body-primary: var(--color-neutral-grey-100);
  --semantic-colour-text-body-secondary: var(--color-neutral-grey-300);
  --semantic-colour-text-body-tertiary: var(--color-neutral-grey-400);
  --semantic-colour-text-body-inverted: var(--color-neutral-white);
  --semantic-colour-text-button-primary-default: var(--color-neutral-white);
  --semantic-colour-text-button-primary-hover: var(--color-neutral-white);
  --semantic-colour-text-button-primary-pressed: var(--color-neutral-white);
  --semantic-colour-text-button-primary-disabled: var(--color-brand-earth-400);
  --semantic-colour-text-button-secondary-default: var(--color-brand-earth-200);
  --semantic-colour-text-button-secondary-hover: var(--color-neutral-white);
  --semantic-colour-text-button-secondary-pressed: var(--color-neutral-white);
  --semantic-colour-text-button-secondary-disabled: var(--color-brand-earth-500);
  --semantic-colour-text-button-tertiary-default: var(--color-brand-earth-200);
  --semantic-colour-text-button-tertiary-hover: var(--color-brand-earth-200);
  --semantic-colour-text-button-tertiary-pressed: var(--color-neutral-white);
  --semantic-colour-text-button-tertiary-disabled: var(--color-brand-earth-400);
  --semantic-colour-button-fill-primary-default: var(--color-brand-earth-200);
  --semantic-colour-button-fill-primary-hover: var(--color-brand-earth-300);
  --semantic-colour-button-fill-primary-pressed: var(--color-brand-earth-100);
  --semantic-colour-button-fill-primary-disabled: var(--color-brand-earth-700);
  --semantic-colour-button-fill-secondary-default: var(--color-brand-earth-300-null);
  --semantic-colour-button-fill-secondary-hover: var(--color-brand-earth-300);
  --semantic-colour-button-fill-secondary-pressed: var(--color-brand-earth-100);
  --semantic-colour-button-fill-secondary-disabled: var(--color-brand-earth-300-null);
  --semantic-colour-button-fill-tertiary-default: var(--color-brand-earth-100-null);
  --semantic-colour-button-fill-tertiary-hover: var(--color-brand-earth-100-null);
  --semantic-colour-button-fill-tertiary-pressed: var(--color-brand-earth-100);
  --semantic-colour-button-fill-tertiary-disabled: var(--color-brand-earth-100-null);
  --semantic-colour-button-stroke-secondary-default: var(--color-brand-earth-200);
  --semantic-colour-button-stroke-secondary-hover: var(--color-brand-earth-300);
  --semantic-colour-button-stroke-secondary-pressed: var(--color-brand-earth-100);
  --semantic-colour-button-stroke-secondary-disabled: var(--color-brand-earth-500);
  --semantic-colour-icon-default: var(--color-neutral-black);
  --semantic-colour-icon-inverted: var(--color-neutral-white);
  --semantic-colour-icon-primary: var(--color-neutral-grey-100);
  --semantic-colour-icon-secondary: var(--color-neutral-grey-300);
  --semantic-colour-icon-button-primary-default: var(--color-neutral-white);
  --semantic-colour-icon-button-primary-hover: var(--color-neutral-white);
  --semantic-colour-icon-button-primary-pressed: var(--color-neutral-white);
  --semantic-colour-icon-button-primary-disabled: var(--color-brand-earth-400);
  --semantic-colour-icon-button-secondary-default: var(--color-brand-earth-200);
  --semantic-colour-icon-button-secondary-hover: var(--color-neutral-white);
  --semantic-colour-icon-button-secondary-pressed: var(--color-neutral-white);
  --semantic-colour-icon-button-secondary-disabled: var(--color-brand-earth-500);
  --semantic-colour-icon-button-tertiary-default: var(--color-brand-earth-200);
  --semantic-colour-icon-button-tertiary-hover: var(--color-brand-earth-200);
  --semantic-colour-icon-button-tertiary-pressed: var(--color-neutral-white);
  --semantic-colour-icon-button-tertiary-disabled: var(--color-brand-earth-400);
  --semantic-colour-indication-green: #4C9900;
  --semantic-colour-indication-indigo: #6933FF;
  --semantic-colour-indication-teal: #007FAD;
  --semantic-colour-indication-red: #7A0000;
  --semantic-corner-bento: var(--gap-1xl);
  --semantic-corner-button-cta-full: var(--radius-full);
  --semantic-corner-button-cta-normal: var(--radius-md);
  --semantic-corner-button-menu-inner: var(--radius-full);
  --semantic-corner-button-menu-outer: var(--radius-full);
  --semantic-corner-card-base: var(--radius-2xl);
  --semantic-padding-bento: var(--gap-1xl);
  --semantic-padding-button-horizontal: var(--gap-4xl);
  --semantic-padding-button-vertical: var(--gap-lg);
  --semantic-padding-button-spacing: var(--gap-md);
  --semantic-padding-button-iconside: var(--gap-2xl);
  --semantic-padding-card-margins: var(--gap-5xl);
  --semantic-padding-card-spacing: var(--gap-3xl);
  --semantic-stroke-border: var(--stroke-xs);
  --semantic-stroke-divider: var(--stroke-xs);
}
